<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} 8x8 checkers {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>
<body style="text-align: center;">
    <h1>Welcome</h1>
    

    {% for x in range(4) %}
        {% for x in range(4): %}
            <div id="checker_1"></div>
            <div id="checker_2"></div>
        {% endfor %}<br>
        {% for x in range(4): %}
            <div id="checker_2"></div>
            <div id="checker_1"></div>
        {% endfor %}<br>
    {% endfor %}


    {% block page2 %}{% endblock %}
    <!-- {% block page3 %}{% endblock %} -->
</body>

</html>